[Unit]
Description=MAM bonus manager
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mam-bonus-manager --config /etc/mam-bonus-manager/config.env run
